        :root { 
            /*defines vars and the colors each represents*/
            --blue: #0077cc;
            --dark-gray: #3f4756;
            --light-gray: #a3abbd;
            --dark-brown: #956e13;
            --light-brown: #cfa149;
            --cream:#fffdd0;
            --off-white:#FFFDE7;

        }
        
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
        }


        header {
            text-align: center;
            padding: 0rem; /*scales the padding off of 0x fontsize of root element*/
            /* background: #f4f4f4; */
            background:white;
            /* border-bottom: 1px solid #ccc;  */
            margin-bottom: 0rem;
            justify-content: center;
        }

        header h1 {
            margin: 0rem 0rem 0rem 0rem; /*specifies top right bot left margins
        }

        header p a { 
            color: #0077cc; /*draws a horizontal blue line ( bot of the element border)*/
            text-decoration: none; /*no underlines or strikethrough, etc text*/
        }

        header p a:hover { /*when user hovers cursor over link (a), it underlines it*/
            text-decoration: underline;
        }

        nav {
            
            

            width:100%;
            margin: 0rem 0rem 2rem 0rem; /*adds space outside element. auto sizes margins for diff devices*/
            background:#0077cc;
            
            align-items:center;
            justify-content:center;
            display:flex; /*creates a flexbox for it's children (nav ul)*/
            height:4rem;
           
        }

        nav ul{
            font-size:1rem;
            
            
            list-style-type:none;
            display: flex; /* Turns the <ul> into a flex container */
            flex: 1 1 auto; /*This flexbox can grow equally (1), shrink equally (1), and will auto adjust*/
            align-items: center;
            justify-content: center;
            height:100%;
            width:100%;

            padding:0rem;
            margin:0rem;

            
      
            
            
            
        }
        /*PLACEHOLDER LINK THINGS*/
        nav ul li { 
            flex: 1 1 auto;
            display:flex;
            height:100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            
            /* background-color: gray; */
           color:white;
            
        }  
          nav ul li:hover { /*activates this style when mouse hovering over list item*/
            
            background-color: white; /* Changes the background color */
            color: var(--blue); /* Changes the text color */
            cursor: pointer; /* Changes the cursor to a pointer for better UX */
            
        }

        /*CLICKABLE LINK STYLING*/
        nav ul li a{ 
            flex: 1 1 auto;
            text-decoration: none; /*no text underline*/
            display:flex;
            height:100%;
            align-items: center;
            text-align: center;
            justify-content: center;
            
            /* background-color: gray; */
           color:white;
            
        }  

        nav ul li a:hover { /*activates this style when mouse hovering over list item*/
            
            background-color: white; /* Changes the background color */
            color: var(--blue); /* Changes the text color */
            cursor: pointer; /* Changes the cursor to a pointer for better UX */
            
        }


        main {
            padding: 0rem 2rem 0rem 2rem; /*top right bot left*/
            max-width: 800px;
            margin: auto; /*auto sizes margins for diff devices*/
        }

        section {
            background:white;
            margin-bottom: 0rem;
        }

        h2 {
            border-bottom: 2px solid #0077cc;
            padding-bottom: 0rem;
        }

        h3{
            /* background: red; */
            font-weight: normal;
            padding-bottom: 0rem;
            margin-bottom: -1rem;

        }

        p{
            /* background:cyan */
        }

      

        ul {
            list-style: disc;
            margin: 1rem 0 1rem 0.5rem;
        }

        footer {
            text-align: center;
            padding: 0.75rem;
            width:100%;
            background: #f4f4f4;
            border-top: 1px solid #ccc;
            margin-top: 2rem;
        }

        /*GALLERY CSS*/

       

        /* #gallery-body{
            max-width: 80%;
        }  */

        #gallery-main{
            max-width:100%;
            padding: 0rem 5rem;
            margin:0rem;
            justify-content:center;
            align-items:center;
        }

         .page-header h2{
            background-color: white;
            color:var(--blue);
            padding:0rem;
            margin:0rem;
            border-bottom: white;
        } 

        .gallery {
            display: flex;
            flex-wrap: wrap; /* Wrap images to the next line if needed */
            gap: 0.5rem; /* Add spacing between images */
            justify-content: left; /* Center the gallery images */
        }
        
        .gallery img {
            
            max-width: 100%; /* Limit the maximum width of images */
            max-height:300px;
            height: auto; /* Maintain the aspect ratio */
            /* border: 2px solid #ccc; Optional: Add a border to images */
            /* border-radius: 5px; Optional: Add rounded corners */
            /* transition: transform 0.3s; Smooth scaling effect */
        }

        .gallery-h {
            padding:0rem 0rem 2rem 0rem;
        }

        .hidden{
            opacity: 0;
            transition: opacity 0.5s ease-in;
        }

        .visible {
            opacity: 1;
        }

        /*HOME STYLE*/
        .home-section{
            display:flex;
            justify-content:left;
        }

        

       .home-image{
        width:100%;
        height:auto;
        display: flex;
        justify-content:center;
       }

       

        
