        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
        }


        header {
            text-align: center;
            padding: 1rem; /*scales the padding off of 1x fontsize of root element*/
            background: #f4f4f4;
            border-bottom: 1px solid #ccc; /*draws a horizontal blue line ( bot of the element border)*/
        }

        header h1 {
            margin: 0.5rem 0; /*specifies top and bot margins to be 0.5rem but 0rem for left/right*/
        }

        header p a {
            color: #0077cc;
            text-decoration: none; /*no underlines or strikethrough, etc text*/
        }

        header p a:hover {
            text-decoration: underline;
        }

        main {
            padding: 2rem;
            max-width: 800px;
            margin: auto; /*auto sizes margins for diff devices*/
        }

        section {
            margin-bottom: 2rem;
        }

        h2 {
            border-bottom: 2px solid #0077cc;
            padding-bottom: 0.5rem;
        }

        h3{
            font-weight: normal;
            padding-bottom:0.01rem;
        }

        ul {
            list-style: disc;
            margin: 1rem 0 1rem 1.5rem;
        }

        footer {
            text-align: center;
            padding: 1rem;
            background: #f4f4f4;
            border-top: 1px solid #ccc;
            margin-top: 2rem;
        }
