        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color: #333;
        }


        header {
            text-align: center;
            padding: 0rem; /*scales the padding off of 1x fontsize of root element*/
            background: #f4f4f4;
            border-bottom: 1px solid #ccc; 
        }

        header h1 {
            margin: 0rem 0rem; /*specifies top and bot margins to be 0.5rem but 0rem for left/right*/
        }

        header p a {
            color: #0077cc; /*draws a horizontal blue line ( bot of the element border)*/
            text-decoration: none; /*no underlines or strikethrough, etc text*/
        }

        header p a:hover {
            text-decoration: underline;
        }

        nav {
            padding: 0rem 2rem 1rem 2rem; /*top right bot left*/
            

            max-width: 800px;
            margin: auto; /*auto sizes margins for diff devices*/
            background:#0077cc;
        }

        #nav-text {
            color:white 
        }

        main {
            padding: 0rem 2rem 0rem 2rem; /*top right bot left*/
            max-width: 800px;
            margin: auto; /*auto sizes margins for diff devices*/
        }

        section {
            margin-bottom: 0rem;
        }

        h2 {
            border-bottom: 2px solid #0077cc;
            padding-bottom: 0rem;
        }

        h3{
            /* background: red; */
            font-weight: normal;
            padding-bottom: 0rem;
            margin-bottom: -1rem;

        }

        p{
            /* background:cyan */
        }

      

        ul {
            list-style: disc;
            margin: 1rem 0 1rem 0.5rem;
        }

       

        footer {
            text-align: center;
            padding: 1rem;
            background: #f4f4f4;
            border-top: 1px solid #ccc;
            margin-top: 2rem;
        }
